body 
{
    background-image: url('https://wallpapercave.com/wp/wp2760733.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

h4 {
    vertical-align:top;
}

img {
    vertical-align: text-bottom;
}

